* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;

}

.logo {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 36px;
}

.logo-item {
    color: rgb(202, 133, 3);
}

.menu-container {
    height: 120px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #19363f;
}

.menus>li>a {
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
}

.menus {

    display: flex;

}

.menuf {
    margin: 200px;
    padding: 50px;
}

/* ==========bannner section css start */
.common-btn {
    border: none;
    border-radius: 30px;
    background: #E55473;
    padding: 10px;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
}

.banner_bg {
    background-color: rgb(250, 209, 209);
    margin-bottom: 80px;

}

.banner_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.banner-text>h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    text-align: start;
    line-height: normal;
}

.banner-text {
    margin-top: 20px;
    width: 50%;
    text-align: start;
}

.banner-text>p {

    text-align: start;
}

.baner_btn {
    margin-top: 10px;
}

/* .banner-img {
    height: 80%;

} */

/* ===========Our Featured Flowers css start========= */

.featured,
h1,
p {

    text-align: center;
    padding: 10px;
}

.featured>h1 {

    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.featured_gallary {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.feat_img {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px 50px 0px 50px;
}

.feat_img1 {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 50px 0px 50px;
}

.feat_img2 {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px 50px 0px 50px;

}

.featured_title {
    margin-top: 20px;
    margin-left: 30%;
    text-decoration: underline;
}

/* ===========Our Featured Flowers css end ========= */

/* instagram css start */
.instagram {
    padding-bottom: 150px;
}

/* instagram css end */

/* ===========hot_del css start ========= */

.hot_del_off {
    color: #c40b86;
}

.hot_deltext {
    text-align: center;
    padding-right: 130px;
}

.hot_deltext>h1 {
    font-size: 40px;

    font-weight: 800;
}

.hot_del {
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

/* ===========hot_del css end ========= */


/* ======letest_deals css start ========*/
.letest_deals {
    text-align: center;
    background-image: url(../FlowerAsset/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 120px 270px;
}

.deals-input {
    border: none;
    width: 700px;
    height: 64px;
    font-size: 18px;
    text-align: center;

}

.sub {
    width: 150px;
    height: 64px;
    font-size: 26px;
    border-radius: 8px;
    background: #E55473;
    color: aliceblue;
    border: none;
}

/* =====letest_deals css end======== */

/* ===== footer  css start ======== */
.f_text {
    text-align: center;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    margin: 50px;
    color: aliceblue;
    background-color: #19363f;
}

/* ===== footer  css end======== */